    <div class="header navbar-fixed-top">
      <div class="container">
        <div class="image-header-wrap">
          <img src="../images/logo-with-title-2.png" class="img-responsive center-block image-header" ng-click="redirectMain()">
        </div>
        <div class="image-header-center-wrap">
        </div>
        <div class="header-link-wrap">
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <div class="front-big">What we do</div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="front-body">Muscle Metrics is a company built around modernizing the gym-going experience. We are creating a future where workouts are automatically recorded and the statistics are uploaded to a users profile automatically. The statistics are then displayed in an easy to understand and beautiful format that will allow the user to see what is going well and when they should change things up. This is a revolutionary way not only for lifters to improve themselves but also for trainers to make incredibly accurate suggestions. It is also a great way for a gym to see what is in demand, what equipment is worth investing in and what can go.</div>
        </div>
      </div>

      <div class="container">
        <img src="../images/frameowork.png" class="img-responsive center-block dumbbell-image">

      </div>
      <!--
      <div class="container">
        <img src="../images/dumbell-concept-2.png" class="img-responsive center-block dumbbell-image">
      </div>
      <div class="canvasArrows">
        <canvas id="mycanvas" width="100vw"></canvas>
      </div>

      <div class="container">
       <!-- Example row of columns -->
       <!--
       <div class="row">
        <div class="col-lg-4">
          <img src="../images/icon-bluetooth-1.jpg" class="img-responsive center-block">
        </div>
        <div class="col-lg-4">
          <img src="../images/wifi-icon-1.png" class="img-responsive center-block">
        </div>
        <div class="col-lg-4">
          <img src="../images/nfc-icon-1.jpg" class="img-responsive center-block">
        </div>
      </div>
    </div>
  -->
  <div class="container">
   <!-- Example row of columns -->
   <div class="row">
    <div class="col-lg-4">
      <h3>Effortlessly collect fitness data</h3>
      <p>Using bluetooth in smartphones and in our chips we can effortlessly send the statistics from a piece of gym equipment to a user's phone</p>
    </div>
    <div class="col-lg-4">
      <h3>Help people utilize their data</h3>
      <p>The data is then sent from the phone to our website where customers can see their personal data laid out an a beautiful and intuitive manner. Gyms can also use this data to collect usage statistics, and make educated decisions about the type of equipment they should invest in.</p>  
    </div>
    <div class="col-lg-4">
      <h3>Train more Efficiently</h3>
      <p>This data will be able to allow trainers to tailor routines and advice for each person on a whole new level. No more wasting time lifting inefficiently</p>
    </div>
  </div>

</div>
<div class="container main-detail">
  <div class="col-lg-6">
    <img src="../images/chart_type_2-1.png" class="img-responsive center-block">
  </div>
  <div class="col-lg-6">
    <div class="main-detail-title">We help people use the data to its fullest potential</div>
    <div class="main-detail-body">
      <p>This is where we talk about data collection. Im gunna put some filler here</p>
      <p>Fitness Connected is a company built around modernizing the gym-going experience. We are creating a future where workouts are automatically recorded and the statistics are uploaded to a users profile automatically. The statistics are then displayed in an easy to understand and beautiful format that will allow the user to see what is going well and when they should change things up. This is a revolutionary way not only for lifters to improve themselves but also for trainers to make incredibly accurate suggestions. It is also a great way for a gym to see what is in demand, what equipment is worth investing in and what can go.</p>
      <p>Fitness Connected is a company built around modernizing the gym-going experience. We are creating a future where workouts are automatically recorded and the statistics are uploaded to a users profile automatically. The statistics are then displayed in an easy to understand and beautiful format that will allow the user to see what is going well and when they should change things up. This is a revolutionary way not only for lifters to improve themselves but also for trainers to make incredibly accurate suggestions. It is also a great way for a gym to see what is in demand, what equipment is worth investing in and what can go.</p>
    </div>
  </div>

</div>
<div class="container main-detail">

  <div class="col-lg-6">
    <div class="main-detail-title">We help gyms use the data to make smart business decisions</div>
    <div class="main-detail-body">
      <p>This is where we talk about data collection. Im gunna put some filler here</p>
      <p>Fitness Connected is a company built around modernizing the gym-going experience. We are creating a future where workouts are automatically recorded and the statistics are uploaded to a users profile automatically. The statistics are then displayed in an easy to understand and beautiful format that will allow the user to see what is going well and when they should change things up. This is a revolutionary way not only for lifters to improve themselves but also for trainers to make incredibly accurate suggestions. It is also a great way for a gym to see what is in demand, what equipment is worth investing in and what can go.</p>
      <p>Fitness Connected is a company built around modernizing the gym-going experience. We are creating a future where workouts are automatically recorded and the statistics are uploaded to a users profile automatically. The statistics are then displayed in an easy to understand and beautiful format that will allow the user to see what is going well and when they should change things up. This is a revolutionary way not only for lifters to improve themselves but also for trainers to make incredibly accurate suggestions. It is also a great way for a gym to see what is in demand, what equipment is worth investing in and what can go.</p>
    </div>
  </div>
  <div class="col-lg-6">
    <img src="../images/toon-graphs-0.jpg" class="img-responsive center-block">
  </div>
</div>

<div class="container main-detail">
  <div class="col-lg-6">
    <img src="../images/mockup-app-2.png" class="img-responsive center-block">
  </div>
  <div class="col-lg-6">
    <div class="main-detail-title">We have a mobile app that allows easy use</div>
    <div class="main-detail-body">
      <p>This is where we talk about data collection. Im gunna put some filler here</p>
      <p>Fitness Connected is a company built around modernizing the gym-going experience. We are creating a future where workouts are automatically recorded and the statistics are uploaded to a users profile automatically. The statistics are then displayed in an easy to understand and beautiful format that will allow the user to see what is going well and when they should change things up. This is a revolutionary way not only for lifters to improve themselves but also for trainers to make incredibly accurate suggestions. It is also a great way for a gym to see what is in demand, what equipment is worth investing in and what can go.</p>
      <p>Fitness Connected is a company built around modernizing the gym-going experience. We are creating a future where workouts are automatically recorded and the statistics are uploaded to a users profile automatically. The statistics are then displayed in an easy to understand and beautiful format that will allow the user to see what is going well and when they should change things up. This is a revolutionary way not only for lifters to improve themselves but also for trainers to make incredibly accurate suggestions. It is also a great way for a gym to see what is in demand, what equipment is worth investing in and what can go.</p>
    </div>
  </div>
</div>

<div class="container main-detail">

  <div class="col-lg-6">
    <div class="main-detail-title">Our app also integrates with apple's built in fitness app to extend functionality</div>
    <div class="main-detail-body">
      <p>This is where we talk about data collection. Im gunna put some filler here</p>
      <p>Fitness Connected is a company built around modernizing the gym-going experience. We are creating a future where workouts are automatically recorded and the statistics are uploaded to a users profile automatically. The statistics are then displayed in an easy to understand and beautiful format that will allow the user to see what is going well and when they should change things up. This is a revolutionary way not only for lifters to improve themselves but also for trainers to make incredibly accurate suggestions. It is also a great way for a gym to see what is in demand, what equipment is worth investing in and what can go.</p>
      <p>Fitness Connected is a company built around modernizing the gym-going experience. We are creating a future where workouts are automatically recorded and the statistics are uploaded to a users profile automatically. The statistics are then displayed in an easy to understand and beautiful format that will allow the user to see what is going well and when they should change things up. This is a revolutionary way not only for lifters to improve themselves but also for trainers to make incredibly accurate suggestions. It is also a great way for a gym to see what is in demand, what equipment is worth investing in and what can go.</p>
    </div>
  </div>
  <div class="col-lg-6">
    <img src="../images/edited-mockup-2.png" class="img-responsive center-block">
  </div>

</div>

<div class="container main-bottom">
  <div class="front-big">Sign Up today!</div>
  <div class="col-lg-6">
    <p>Get your gym set up with Muscle Metrics today</p>
    <button class="btn btn-large btn-success" type="button">Go!</button> 
  </div>
  <div class="col-lg-6">
    <p>Set up your free user account today!</p>
    <button class="btn btn-large btn-success" type="submit" ng-click="redirectRegister();">Go!</button>
  </div>
</div>
</div>
<!-- <script type="text/javascript" src="../scripts/cosmetic/main.js"></script> -->
<script type="text/javascript">

  $(function(){
    $('.header').data('size','big');
  });

  $(window).scroll(function(){
    if($(document).scrollTop() > 40)
    {
      if($('.header').data('size') == 'big')
      {
        $('.image-header').remove();
        $('#header-links-big').remove();
        $('.image-header-center-wrap').append('<img src="../images/title-only-1.png" class="img-responsive center-block nameImage">');
        $('.image-header-wrap').append('<img src="../images/logo-only-1.png" class="image-header-2">');
        $('.header-link-wrap').append('<div id="header-links-small"><a href="#/register">Register</a><a href="#/login">Login</a><a href="#/busRegister">Upgrade your gym today</a></div>');
        $('.header').data('size','small');
        $('.header').stop().animate({
          height:'60px'
        },200);
        $('.main').css('margin-top', '25%');
            //$(document)
            //$('html, body').animate({scrollTop:$('.front-big').position().top}, 600);

          }
        }
        else
        {
          if($('.header').data('size') == 'small')
          {
            $('.header').data('size','big');
            $('.image-header-2').remove();
            $('#header-links-small').remove();
            $('.nameImage').remove();

            $('.image-header-wrap').append('<img src="../images/logo-with-title-2.png" class="img-responsive center-block image-header" ng-click="redirectMain()">');

            //$('.header-link-wrap').append('<div id="header-links-big"><a ng-href="#">Home</a><a ng-href="#/about">About</a><a ng-href="#">Upgrade your gym today</a></div>');
            $('.header').stop().animate({
              height:'100%'
            },200);
            $('.main').css('margin-top', '100%');

            $('html, body').stop().animate({
              'scrollTop': $(document).height
            }, 900, 'swing', function () {
              window.location.hash = target;
            });
          }  
        }
      });

  </script>
